:root{
--green: #1c5400;
}

/*main output*/
#output {
  text-align: center;      
  color: var(--green);
  font-size: 20px;
  margin-top: 3rem;
  line-height: 1.0;
  line-width: 2.5;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;
  position: relative;      
}

#container {
  display: grid;
  grid-template-columns: repeat(9, 40px);
  grid-gap: 0;
  width: fit-content;
  margin-top: 60px;
}

#container button {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
}

#top-center {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

button {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  font-size: 16px;
  padding: 0;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  /*width: 40px;
  height: 40px;
  font-size: 16px;
  border: 1px solid gray;
  background: white;
  cursor: pointer;*/
}
